.philosophy-second-bg
    @media (min-width: 1025px)
        position: absolute
        background-size: contain
        background-repeat: no-repeat
        height: 574px
        width: 539px
        top: -298px
        left: -95px
    @media (min-width: 1200px)
        left: 0
        height: 644px
        width: 605px
    @media (min-width: 1400px)
        left: 5%
    @media (min-width: 1620px)
        left: 10%
    @media (min-width: 1920px)
        left: 15%

.philisophy-logo
    position: absolute
    background-size: contain
    background-repeat: no-repeat
    height: 166.76px
    width: 140px
    @media (min-width: 1025px)
        bottom: 60px
        left: 200px
    @media (min-width: 1200px)
        bottom: 84px
        left: 232px

.philosophy-container
    background-color: $philosophy
    overflow: hidden

.philosophy
    background-repeat: no-repeat
    background-size: 269px, contain
    background-position-x: center
    padding: 159px 0 36px 0
    @media (min-width: 1025px)
        padding: 43px 0 24px 0

.philosophy__content
    @media (min-width: 1025px)
        width: 444px
        transform: translateX(110%)
    @media (min-width: 1200px)
        transform: translateX(140%)

.philosophy__title
    padding-bottom: 10px
    font-size: 25px
    font-weight: 700
    line-height: 30px
    letter-spacing: 0em
    text-align: left
    @media (min-width: 1025px)
        font-size: 45px
        line-height: 53px

.philosophy__subtitle
    color: $accent-colors

.philosophy__text
    color: $process-subtitle-color
    font-size: 16px
    font-weight: 700
    line-height: 22px
    letter-spacing: 0em
    text-align: justify
    &:nth-child(2)
        padding-bottom: 20px
    @media (min-width: 1025px)
        font-weight: 400
