.process
    padding: 50px 0
    @media (min-width: 1025px)
        padding: 21px 0 52px 0

.process__item--dot
    position: absolute
    left: 18px
    width: 20px
    height: 23px
    @media (min-width: 1025px)
        top: 10px
        &--loyalty
            top: 110%
            left: auto
            right: 0

.process__item--dot--1
    left: 16px
    width: 28px
    height: 30px
    @media (min-width: 1025px)
        left: 17px

.process__item--dot--line
    @media (min-width: 1025px)
        position: absolute
        height: 130px
        top: 31px
        left: 27px
        border-left: 1px dashed $process-subtitle-color
.process__item--dot--odd
    @media (min-width: 1025px)
        position: absolute
        height: 31px
        top: -20px
        left: 27px
        border-left: 1px dashed $process-subtitle-color

.process__title
    color: $general-text-color

    font-size: 25px
    font-weight: 700
    line-height: 30px
    letter-spacing: 0em
    text-align: center
    @media (min-width: 1025px)
        font-size: 45px
        line-height: 53px

.process__subtitle
    color: $process-subtitle-color

.process__list
    display: flex
    padding-top: 21px
    @media (min-width: 1025px)
        padding-top: 38px
        flex-direction: row

.process__line
    position: absolute
    top: 30px
    left: 27px
    height: 83%
    border-left: 1px dashed $process-subtitle-color
    @media (min-width: 768px)
        height: 85%
    @media (min-width: 1025px)
        border-left: none
        border-bottom: 1px dashed $process-subtitle-color
        width: 1035px
        height: 0
        top: 200px
        left: -70px
    @media (min-width: 1200px)
        width: 1125px
        left: 0

.process__items
    @media (min-width: 1025px)
        display: flex
        flex-wrap: wrap

.process__item
    padding: 0 29px 17px 76px
    @media (min-width: 1025px)
        padding: 0 0 60px 60px
        flex-basis: 25%
        &:nth-child(1)
            order: 1
        &:nth-child(2)
            margin-left: 28px
            order: 4
        &:nth-child(3)
            order: 2
        &:nth-child(4)
            order: 5
        &:nth-child(5)
            order: 3
        &:nth-child(6)
            order: 6
        &:nth-child(7)
            order: 7
            position: absolute
            top: 25%
            right: 0
            width: 370px
            padding: 0

.process__item--title
    color: $process-subtitle-color

    font-size: 22px
    font-weight: 700
    line-height: 30px
    letter-spacing: 0em
    text-align: left
    @media (min-width: 1025px)
        font-size: 35px
        font-weight: 600
        line-height: 48px

    &--loyalty
        color: $btn-active-second-color
        @media (min-width: 1025px)
            font-weight: 400
            line-height: 30px
            text-align: right

.process__item--description
    color: $process-subtitle-color

    font-size: 16px
    font-weight: 700
    line-height: 25px
    letter-spacing: 0em
    text-align: left

    @media (min-width: 1025px)
        width: 235px
        font-size: 16px
        font-weight: 400

.process-container
    background-size: cover
    background-repeat: no-repeat
    @media (min-width: 1025px)
        background-position: top right
        background-size: contain
    @media (min-width: 1920px)
        background-position: 1162px center

.process-step
    background-position: left center
    background-size: 239px
    background-repeat: no-repeat
    @media (min-width: 1200px)
        background-position: 35px center
    @media (min-width: 1920px)
        background-position: 312px center
    @media (min-width: 2560px)
        background-position: 632px center
