.statistic
    padding: 55px 0 63px 0
    @media (min-width: 1025px)
        padding: 45px 0 51px 0
        display: flex
    @media (min-width: 1200px)
        padding: 85px 0 66px 0

.statistic__content
    @media (min-width: 1025px)
        width: 255px
        margin-right: 50px
    @media (min-width: 1200px)
        width: 472px

.statistic__title
    padding-bottom: 14px

    color: $white-second-color
    font-size: 25px
    font-weight: 700
    line-height: 22px
    letter-spacing: 0em
    text-align: left

    @media (min-width: 1025px)
        font-size: 45px
        line-height: 40px

    @media (min-width: 1200px)
        font-size: 80px
        font-weight: 700
        line-height: 71px

.statistic__title-mobile
    @media (min-width: 1025px)
        display: none

.statistic__title-desktop
    display: none
    @media (min-width: 1025px)
        display: block

.statistic__subtitle
    color: $stroke-color

.statistic__text
    padding-bottom: 44px

    color: $white-color
    font-size: 16px
    font-weight: 700
    line-height: 22px
    letter-spacing: 0em
    text-align: left
    @media (min-width: 1025px)
        font-size: 16px
        font-weight: 400
        padding-bottom: 0

.statistic__list
    @media (min-width: 1025px)
        width: 75%
    @media (min-width: 1025px)
        width: 75%

.statistic__items
    display: flex
    flex-wrap: wrap
    @media (min-width: 1025px)
        flex-wrap: nowrap

    @media (min-width: 1200px)

.statistic__item
    display: flex
    flex-direction: column
    align-items: center
    width: 50%
    &:nth-child(-n+2)
        margin-bottom: 43px

    @media (min-width: 1025px)
        width: 40%
        align-items: flex-start
        &:nth-child(-n+2)
            margin-bottom: 0

.statistic__item_2 .statistic__item--title:before
    content: ">"
.statistic__item_3 .statistic__item--title:after
    content: "%"

.statistic__item--icon--1
    height: 48px
    width: 47.53066635131836px
.statistic__item--icon--2
    height: 48.982330322265625px
    width: 41.149906158447266px

.statistic__item--icon--3
    height: 47.737220764160156px
    width: 45.3580207824707px

.statistic__item--icon--4
    height: 45.544166564941406px
    width: 45.544166564941406px

.statistic__item--title
    color: $white-second-color
    font-size: 46px
    font-weight: 700
    line-height: 63px
    letter-spacing: 0em
    text-align: center

.statistic__item--description
    width: 130px

    color: $white-second-color
    font-size: 15px
    font-weight: 700
    line-height: 20px
    letter-spacing: 0em
    text-align: center
    @media (min-width: 1025px)
        width: 160px
        font-size: 20px
        font-weight: 400
        line-height: 27px
        text-align: left

.statistic-container
    background-size: cover
    background-repeat: no-repeat

.statistic-hex
    @media (min-width: 1025px)
        position: absolute
        z-index: 1
        top: -0
        left: -162px
        background-repeat: no-repeat
        background-size: contain
        height: 415px
        width: 412px
    @media (min-width: 1200px)
        top: 0
        left: -78px
